<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MHElectronicsInventory.Properties.Settings.MHElectronicsConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=MHElectronics;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>